p {
   margin: 0;
   font-family: "Noto Sans", sans-serif;
}
h1,
h2 {
   font-family: "Oswald", sans-serif;
   letter-spacing: 0.5px;
}
h1 {
   text-align: center;
   font-size: 3em;
   margin-top: 0.5em;
   margin-bottom: 0.5em;
}
h2 {
   font-size: 1.5em;
   padding-top: 20px;
   float: none;
   clear: both;
}
article {
   margin-left: 20%;
   margin-bottom: 1em;
   width: 60%;
   max-width: 1000px;
   background-color: white;
   text-align: justify;
   padding: 1em 2em;
   box-shadow: 4px 4px 2px #000;
   border-radius: 5px;
}
article p {
   color: black;
   padding: 0.5em 10px;
   text-align: justify;
}
.planetName {
   padding: 1em 12% 0.2em 0;
   color: white;
   text-align: right;
   text-shadow: 2px 2px 1px black;
   font-style: italic;
   font-weight: 150;
   margin-top: 0;
}
img.planet-view {
   width: 100%;
   margin: 20px 0;
}
